################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.testlog
*.manifest
*.suo
/DataRepository/obj
/DBDomain/obj/Debug/net5.0
/DBDomain/obj
/KuCoin/obj
/MessageBroker/obj
/OrderAndTradeProcessing/obj
/OrderBookProcessing/obj
/OrderLedger/obj
/TestSender/obj
/UnitTests/bin/Debug/net5.0
/UnitTests/obj
/Binance/obj/Debug/net5.0
/Binance/obj
/.vs/VeChainLiquidity
/Binance/bin/Debug/net5.0/ref
/Binance/bin/Debug/net5.0
/Common/bin/Debug/net5.0
/Common/obj/Debug/net5.0
/Dashboard/bin/Debug/net5.0
/Dashboard/obj/Debug/net5.0
/DashboardServer/obj/Debug/net5.0
/InventoryManagement/bin/Debug/net5.0
/InventoryManagement/obj/Debug/net5.0/ref
/InventoryManagement/obj/Debug/net5.0/InventoryManagement.csproj.CoreCompileInputs.cache
/InventoryManagement/obj/Debug/net5.0
/KuCoin/bin/Debug/net5.0
/MessageBroker/bin/Debug/net5.0
/OrderAndTradeProcessing/bin/Debug/net5.0
/OrderBookProcessing/bin/Debug/net5.0
/OrderLedger/bin/Debug/net5.0
/TestSender/bin/Debug/net5.0
/Dashboard/Dashboard.csproj.user
/.vs/ProjectEvaluation
/ClientConnections/obj/Debug/net6.0
/ConnectorCommon/bin/Debug/net6.0
/ConnectorCommon/obj/Debug/net6.0
/ConnectorStatus/bin/Debug/net6.0
/ConnectorStatus/obj
/Dashboard/bin/Debug/net6.0
/Dashboard/obj/Debug/net6.0/build-gz
/Strategies/obj/Debug/net6.0
/AccountBalanceManager/bin/Debug/net6.0
/AccountBalanceManager/obj
/Binance/bin/Debug/net6.0
/CentralCommand/bin/Debug/net6.0
/CentralCommand/obj/Debug/net6.0
/ClientConnections/bin/Debug/net6.0
/ClientConnections/obj
/DashboardServer/bin/Debug/net6.0
/FairValueProcessing/bin/Debug/net6.0
/FairValueProcessing/obj/Debug/net6.0
/FairValueProcessing/obj
/KuCoin/bin/Debug/net6.0
/LastTradedPriceProcessing/bin/Debug/net6.0
/LastTradedPriceProcessing/obj/Debug/net6.0
/MessageBroker/bin/Debug/net6.0
/OrderAndTradeProcessing/bin/Debug/net6.0
/Strategies/bin/Debug/net6.0
/Strategies/obj
/StrategyMessageListener/bin/Debug/net6.0
/StrategyMessageListener/obj
/StrategyRunner/bin/Debug/net6.0
/StrategyRunner/obj
/UnitTests/bin/Debug/net6.0
/BlazorLiquidity/Client/obj/Debug/net6.0
/BlazorLiquidity/Client/wwwroot/css/open-iconic
/BlazorLiquidity/Client/libman.json
/BlazorLiquidity/Server/bin/Debug/net6.0
/BlazorLiquidity/Server/obj
/BlazorLiquidity/Shared/bin/Debug/net6.0
/BlazorLiquidity/Shared/obj/Debug/net6.0
/BlazorLiquidity/Shared/obj
/BlazorSurveys/.vs/BlazorSurveys/config
/BlazorSurveys/Client/obj/Debug/net6.0
/BlazorSurveys/Client/obj
/BlazorSurveys/Client/wwwroot/css/open-iconic
/PortfolioManagementAPI/bin/Debug/net6.0
/RabbitMQBroker
/Bitfinex/bin/Debug/net6.0/runtimes/unix/lib/netcoreapp2.1/System.Data.SqlClient.dll
.idea
**/obj
**.dll
**.pdb
**.exe
**.dat
/BlazorLiquidity/BlazorLiquidity.Client_Backup_8.30.2022_2.38.34/Client/bin/Debug/net6.0
/BlazorLiquidity/BlazorLiquidity.Client_Backup_8.30.2022_2.38.34/Client/libman.json
/BlazorLiquidity/BlazorLiquidity.Client_Backup_8.30.2022_2.38.34/Server/bin/Debug/net6.0
/BlazorLiquidity/BlazorLiquidity.Client_Backup_8.30.2022_2.38.34
/BlazorLiquidity/BlazorLiquidity.Server_Backup_8.30.2022_2.39.27
/BlazorLiquidity/Client/bin/Debug/net6.0
